p{margin-left: 0px; margin-bottom: 15px}
	.score{border: 1px solid #dddddd30;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #ddd; min-height: 210px; padding: 0px 25px; margin-bottom: 25px;}
			.score h3{font-size: 1.5rem; font-weight: bold; margin-top: 25px; margin-bottom: 15px}
.meter {
  background-color: white;
  border-radius: 10px;
  position: relative;
  display: block;
  width: 30%;
  margin:0px 20px 0px 0px; float: left;
}

#needle {
  position: absolute;
  left: 40%;
  top: 0%;
  transform-origin: 50% calc(100% - 25px);
  /* transform: rotate(-110deg); */
  animation: rotate 5s ease-in-out alternate infinite;
}

/*@keyframes rotate {
  to {
    transform: rotate(110deg);
  }
}*/

svg {
  margin: auto;
  max-width: 100%;
}

#reportButtons{
  display: flex;
  justify-content: space-evenly;
}

.meter h3 {
  display: block;
  text-align: center;
  margin-top: -130px;
  font-family: Arial;
	    font-size: 2rem;
    font-weight: bolder;
}
			.result li{list-style-type:none; margin: 7px;  box-shadow: 0px 0px 2px #ddd; padding: 10px 15px; display: inline-block; width: 18%; border-radius: 10px;}
			.result li p{margin-bottom:0px; }
			.result li p.r-icon {font-size:12px}
			.result li p.r-icon img{width:35px; height: 35px; display: block;}
			@media only screen and (max-width: 600px) {.result li{width:44%} .meter{width:100%}}

.spinner {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.reportBreak{
  display: flex;
  width: 100%;
  /* border-bottom: 1px solid lightgrey; */
  justify-content: center;
  margin: 4px 0;

}
